# Analyzing CIA Factbook Data Using SQLite3

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [2]:
%%sql
SELECT *
    FROM sqlite_master;

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
SELECT *
    FROM facts
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Here are the descriptions for some of the columns:

- name - The name of the country.
- area - The total land and sea area of the country.
- population - The country's population.
- population_growth- The country's population growth as a percentage.
- birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
- death_rate - The country's death rate, or the number of death a year per 1,000 people.
- area- The country's total area (both land and water).
- area_land - The country's land area in square kilometers.
- area_water - The country's waterarea in square kilometers.

## Summary Statistics
> Let's start by calculating some summary statistics and look for any outlier countries.

In [4]:
%%sql
SELECT MIN(population),MAX(population),
        MIN(population_growth),MAX(population_growth)
    FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

In [5]:
%%sql
SELECT name, MIN(population)
    FROM facts;

 * sqlite:///factbook.db
Done.

[('Antarctica', 0)]

In [6]:
%%sql
SELECT name, MAX(population)
    FROM facts;

 * sqlite:///factbook.db
Done.

[('World', 7256490011)]

>MAX population 7256490011 and MIN population 0 both are outliers<br> 
Antarctica has population of zero 
World 7256490011  billions 
so we can need to exclued both them both from our Analysis.

### Recompute the summary statistics you found earlier while excluding the row for the whole world

In [7]:
%%sql
SELECT name,MIN(population), MAX(population),
        MIN(population_growth), MAX(population_growth)
    FROM facts
    WHERE NAME != "World";

 * sqlite:///factbook.db
Done.

[('South Sudan', 0, 1367485388, 0.0, 4.02)]

In [8]:
%%sql
SELECT name,ROUND(AVG(population),2), ROUND(AVG(area),2)
    FROM facts
    WHERE name != "World"

 * sqlite:///factbook.db
Done.

[('Afghanistan', 32242666.57, 555093.55)]

> - There's a country whose population closes in on 1.4 billion!
- we can see that the avrage population is 32 billions and avrage area 555 thousand square kilometers.

> Above-average values for population.<br>
Below-average values for area.

In [9]:
%%sql
SELECT name,population,area
    FROM facts
    WHERE population >(SELECT AVG(population)
                        FROM facts
                       WHERE name<> 'World'
                        ) And area < (SELECT AVG(area)
                                      FROM facts
                                     WHERE name<> 'World');

 * sqlite:///factbook.db
Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Iraq', 37056169, 438317),
 ('Italy', 61855120, 301340),
 ('Japan', 126919659, 377915),
 ('Korea, South', 49115196, 99720),
 ('Morocco', 33322699, 446550),
 ('Philippines', 100998376, 300000),
 ('Poland', 38562189, 312685),
 ('Spain', 48146134, 505370),
 ('Thailand', 67976405, 513120),
 ('Uganda', 37101745, 241038),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

In [10]:
%%sql
SELECT name,population
FROM facts;

 * sqlite:///factbook.db
Done.

[('Afghanistan', 32564342),
 ('Albania', 3029278),
 ('Algeria', 39542166),
 ('Andorra', 85580),
 ('Angola', 19625353),
 ('Antigua and Barbuda', 92436),
 ('Argentina', 43431886),
 ('Armenia', 3056382),
 ('Australia', 22751014),
 ('Austria', 8665550),
 ('Azerbaijan', 9780780),
 ('Bahamas, The', 324597),
 ('Bahrain', 1346613),
 ('Bangladesh', 168957745),
 ('Barbados', 290604),
 ('Belarus', 9589689),
 ('Belgium', 11323973),
 ('Belize', 347369),
 ('Benin', 10448647),
 ('Bhutan', 741919),
 ('Bolivia', 10800882),
 ('Bosnia and Herzegovina', 3867055),
 ('Botswana', 2182719),
 ('Brazil', 204259812),
 ('Brunei', 429646),
 ('Bulgaria', 7186893),
 ('Burkina Faso', 18931686),
 ('Burma', 56320206),
 ('Burundi', 10742276),
 ('Cambodia', 15708756),
 ('Cameroon', 23739218),
 ('Canada', 35099836),
 ('Cabo Verde', 545993),
 ('Central African Republic', 5391539),
 ('Chad', 11631456),
 ('Chile', 17508260),
 ('China', 1367485388),
 ('Colombia', 46736728),
 ('Comoros', 780971),
 ('Congo, Democratic Republic of the', 79375136),
 ('Congo, Republic of the', 4755097),
 ('Costa Rica', 4814144),
 ("Cote d'Ivoire", 23295302),
 ('Croatia', 4464844),
 ('Cuba', 11031433),
 ('Cyprus', 1189197),
 ('Czech Republic', 10644842),
 ('Denmark', 5581503),
 ('Djibouti', 828324),
 ('Dominica', 73607),
 ('Dominican Republic', 10478756),
 ('Ecuador', 15868396),
 ('Egypt', 88487396),
 ('El Salvador', 6141350),
 ('Equatorial Guinea', 740743),
 ('Eritrea', 6527689),
 ('Estonia', 1265420),
 ('Ethiopia', 99465819),
 ('Fiji', 909389),
 ('Finland', 5476922),
 ('France', 66553766),
 ('Gabon', 1705336),
 ('Gambia, The', 1967709),
 ('Georgia', 4931226),
 ('Germany', 80854408),
 ('Ghana', 26327649),
 ('Greece', 10775643),
 ('Grenada', 110694),
 ('Guatemala', 14918999),
 ('Guinea', 11780162),
 ('Guinea-Bissau', 1726170),
 ('Guyana', 735222),
 ('Haiti', 10110019),
 ('Honduras', 8746673),
 ('Hungary', 9897541),
 ('Iceland', 331918),
 ('India', 1251695584),
 ('Indonesia', 255993674),
 ('Iran', 81824270),
 ('Iraq', 37056169),
 ('Ireland', 4892305),
 ('Israel', 8049314),
 ('Italy', 61855120),
 ('Jamaica', 2950210),
 ('Japan', 126919659),
 ('Jordan', 8117564),
 ('Kazakhstan', 18157122),
 ('Kenya', 45925301),
 ('Kiribati', 105711),
 ('Korea, North', 24983205),
 ('Korea, South', 49115196),
 ('Kosovo', 1870981),
 ('Kuwait', 2788534),
 ('Kyrgyzstan', 5664939),
 ('Laos', 6911544),
 ('Latvia', 1986705),
 ('Lebanon', 6184701),
 ('Lesotho', 1947701),
 ('Liberia', 4195666),
 ('Libya', 6411776),
 ('Liechtenstein', 37624),
 ('Lithuania', 2884433),
 ('Luxembourg', 570252),
 ('Macedonia', 2096015),
 ('Madagascar', 23812681),
 ('Malawi', 17964697),
 ('Malaysia', 30513848),
 ('Maldives', 393253),
 ('Mali', 16955536),
 ('Malta', 413965),
 ('Marshall Islands', 72191),
 ('Mauritania', 3596702),
 ('Mauritius', 1339827),
 ('Mexico', 121736809),
 ('Micronesia, Federated States of', 105216),
 ('Moldova', 3546847),
 ('Monaco', 30535),
 ('Mongolia', 2992908),
 ('Montenegro', 647073),
 ('Morocco', 33322699),
 ('Mozambique', 25303113),
 ('Namibia', 2212307),
 ('Nauru', 9540),
 ('Nepal', 31551305),
 ('Netherlands', 16947904),
 ('New Zealand', 4438393),
 ('Nicaragua', 5907881),
 ('Niger', 18045729),
 ('Nigeria', 181562056),
 ('Norway', 5207689),
 ('Oman', 3286936),
 ('Pakistan', 199085847),
 ('Palau', 21265),
 ('Panama', 3657024),
 ('Papua New Guinea', 6672429),
 ('Paraguay', 6783272),
 ('Peru', 30444999),
 ('Philippines', 100998376),
 ('Poland', 38562189),
 ('Portugal', 10825309),
 ('Qatar', 2194817),
 ('Romania', 21666350),
 ('Russia', 142423773),
 ('Rwanda', 12661733),
 ('Saint Kitts and Nevis', 51936),
 ('Saint Lucia', 163922),
 ('Saint Vincent and the Grenadines', 102627),
 ('Samoa', 197773),
 ('San Marino', 33020),
 ('Sao Tome and Principe', 194006),
 ('Saudi Arabia', 27752316),
 ('Senegal', 13975834),
 ('Serbia', 7176794),
 ('Seychelles', 92430),
 ('Sierra Leone', 5879098),
 ('Singapore', 5674472),
 ('Slovakia', 5445027),
 ('Slovenia', 1983412),
 ('Solomon Islands', 622469),
 ('Somalia', 10616380),
 ('South Africa', 53675563),
 ('South Sudan', 12042910),
 ('Spain', 48146134),
 ('Sri Lanka', 22053488),
 ('Sudan', 36108853),
 ('Suriname', 579633),
 ('Swaziland', 1435613),
 ('Sweden', 9801616),
 ('Switzerland', 8121830),
 ('Syria', 17064854),
 ('Tajikistan', 8191958),
 ('Tanzania', 51045882),
 ('Thailand', 67976405),
 ('Timor-Leste', 1231116),
 ('Togo', 7552318),
 ('Tonga', 106501),
 ('Trinidad and Tobago', 1222363),
 ('Tunisia', 11037225),
 ('Turkey', 79414269),
 ('Turkmenistan', 5231422),
 ('Tuvalu', 10869),
 ('Uganda', 37101745),
 ('Ukraine', 44429471),
 ('United Arab Emirates', 5779760),
 ('United Kingdom', 64088222),
 ('United States', 321368864),
 ('Uruguay', 3341893),
 ('Uzbekistan', 29199942),
 ('Vanuatu', 272264),
 ('Holy See (Vatican City)', 842),
 ('Venezuela', 29275460),
 ('Vietnam', 94348835),
 ('Yemen', 26737317),
 ('Zambia', 15066266),
 ('Zimbabwe', 14229541),
 ('Taiwan', 23415126),
 ('European Union', 513949445),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', 1530),
 ('Cocos (Keeling) Islands', 596),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', 2210),
 ('Hong Kong', 7141106),
 ('Macau', 592731),
 ('Faroe Islands', 50196),
 ('Greenland', 57733),
 ('Clipperton Island', None),
 ('French Polynesia', 282703),
 ('French Southern and Antarctic Lands', None),
 ('New Caledonia', 271615),
 ('Saint Barthelemy', 7237),
 ('Saint Martin', 31754),
 ('Saint Pierre and Miquelon', 5657),
 ('Wallis and Futuna', 15613),
 ('Aruba', 112162),
 ('Curacao', 148406),
 ('Sint Maarten', 39689),
 ('Cook Islands', 9838),
 ('Niue', 1190),
 ('Tokelau', 1337),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', 1872),
 ('Akrotiri', 15700),
 ('Anguilla', 16418),
 ('Bermuda', 70196),
 ('British Indian Ocean Territory', None),
 ('British Virgin Islands', 33454),
 ('Cayman Islands', 56092),
 ('Dhekelia', 15700),
 ('Falkland Islands (Islas Malvinas)', 3361),
 ('Gibraltar', 29258),
 ('Guernsey', 66080),
 ('Jersey', 97294),
 ('Isle of Man', 87545),
 ('Montserrat', 5241),
 ('Pitcairn Islands', 48),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795),
 ('South Georgia and South Sandwich Islands', None),
 ('Turks and Caicos Islands', 50280),
 ('American Samoa', 54343),
 ('Guam', 161785),
 ('Navassa Island', None),
 ('Northern Mariana Islands', 52344),
 ('Puerto Rico', 3598357),
 ('Virgin Islands', 103574),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', 0),
 ('Gaza Strip', 1869055),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('West Bank', 2785366),
 ('Western Sahara', 570866),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', 7256490011)]

In [11]:
%%sql
SELECT name, MAX(population)
    FROM facts
    WHERE name != 'World'

 * sqlite:///factbook.db
Done.

[('China', 1367485388)]

In [12]:
%%sql
SELECT name,MAX(population_growth)
    FROM facts
    WHERE name != "World";

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02)]

In [13]:
%%sql
SELECT *
    FROM facts
    LIMIT 10;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46),
 (6, 'ac', 'Antigua and Barbuda', 442, 442, 0, 92436, 1.24, 15.85, 5.69, 2.21),
 (7, 'ar', 'Argentina', 2780400, 2736690, 43710, 43431886, 0.93, 16.64, 7.33, 0.0),
 (8, 'am', 'Armenia', 29743, 28203, 1540, 3056382, 0.15, 13.61, 9.34, 5.8),
 (9, 'as', 'Australia', 7741220, 7682300, 58920, 22751014, 1.07, 12.15, 7.14, 5.65),
 (10, 'au', 'Austria', 83871, 82445, 1426, 8665550, 0.55, 9.41, 9.42, 5.56)]

## Which countries have the highest ratios of water to land?

In [14]:
%%sql
SELECT name,MAX(CAST(area_water AS FLOAT)/area) as "ratio"
FROM facts;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 0.9988970588235294)]

##  Which countries have more water than land?

In [15]:
%%sql
SELECT name,area_water
FROM facts
WHERE area_water > area_land;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 54340), ('Virgin Islands', 1564)]

In [16]:
%%sql
SELECT name,area_water, area_land
FROM facts
WHERE name IN ("Virgin Islands","British Indian Ocean Territory");

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 54340, 60), ('Virgin Islands', 1564, 346)]

## Which countries have a higher death rate than birth rate?

In [17]:
%%sql
SELECT name,death_rate,birth_rate
    FROM facts
    WHERE death_rate > birth_rate
    ORDER BY death_rate DESC;

 * sqlite:///factbook.db
Done.

[('Ukraine', 14.46, 10.72),
 ('Bulgaria', 14.44, 8.92),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Russia', 13.69, 11.6),
 ('Serbia', 13.66, 9.08),
 ('Belarus', 13.36, 10.7),
 ('Hungary', 12.73, 9.16),
 ('Moldova', 12.59, 12.0),
 ('Estonia', 12.4, 10.51),
 ('Croatia', 12.18, 9.45),
 ('Romania', 11.9, 9.14),
 ('Germany', 11.42, 8.47),
 ('Slovenia', 11.37, 8.42),
 ('Greece', 11.09, 8.66),
 ('Portugal', 11.02, 9.27),
 ('Czech Republic', 10.34, 9.63),
 ('Italy', 10.19, 8.74),
 ('Poland', 10.19, 9.74),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Saint Pierre and Miquelon', 9.72, 7.42),
 ('Japan', 9.51, 7.93),
 ('Austria', 9.42, 9.41),
 ('Monaco', 9.24, 6.65)]

In [18]:
%%sql
SELECT name,death_rate,birth_rate
    FROM facts
    WHERE death_rate > birth_rate AND
    name <> 'World'
    ORDER BY death_rate - birth_rate DESC;

 * sqlite:///factbook.db
Done.

[('Bulgaria', 14.44, 8.92),
 ('Serbia', 13.66, 9.08),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Ukraine', 14.46, 10.72),
 ('Hungary', 12.73, 9.16),
 ('Germany', 11.42, 8.47),
 ('Slovenia', 11.37, 8.42),
 ('Romania', 11.9, 9.14),
 ('Croatia', 12.18, 9.45),
 ('Belarus', 13.36, 10.7),
 ('Monaco', 9.24, 6.65),
 ('Greece', 11.09, 8.66),
 ('Saint Pierre and Miquelon', 9.72, 7.42),
 ('Russia', 13.69, 11.6),
 ('Estonia', 12.4, 10.51),
 ('Portugal', 11.02, 9.27),
 ('Japan', 9.51, 7.93),
 ('Italy', 10.19, 8.74),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Czech Republic', 10.34, 9.63),
 ('Moldova', 12.59, 12.0),
 ('Poland', 10.19, 9.74),
 ('Austria', 9.42, 9.41)]

## What countries have the highest population/area ratio and how does it compare to list we found in the previous screen?

In [19]:
%%sql
SELECT name,population, area, MAX(CAST(population/area AS FLOAT)) as "per_square_km"
FROM facts;

 * sqlite:///factbook.db
Done.

[('Macau', 592731, 28, 21168.0)]

In [20]:
%%sql
SELECT name,population, area, CAST(population/area AS FLOAT) as "per_square_km"
FROM facts
ORDER BY per_square_km DESC;

 * sqlite:///factbook.db
Done.

[('Macau', 592731, 28, 21168.0),
 ('Monaco', 30535, 2, 15267.0),
 ('Singapore', 5674472, 697, 8141.0),
 ('Hong Kong', 7141106, 1108, 6445.0),
 ('Gaza Strip', 1869055, 360, 5191.0),
 ('Gibraltar', 29258, 6, 4876.0),
 ('Bahrain', 1346613, 760, 1771.0),
 ('Maldives', 393253, 298, 1319.0),
 ('Malta', 413965, 316, 1310.0),
 ('Bermuda', 70196, 54, 1299.0),
 ('Sint Maarten', 39689, 34, 1167.0),
 ('Bangladesh', 168957745, 148460, 1138.0),
 ('Guernsey', 66080, 78, 847.0),
 ('Jersey', 97294, 116, 838.0),
 ('Barbados', 290604, 430, 675.0),
 ('Mauritius', 1339827, 2040, 656.0),
 ('Taiwan', 23415126, 35980, 650.0),
 ('Aruba', 112162, 180, 623.0),
 ('Lebanon', 6184701, 10400, 594.0),
 ('Saint Martin', 31754, 54, 588.0),
 ('San Marino', 33020, 61, 541.0),
 ('Korea, South', 49115196, 99720, 492.0),
 ('Rwanda', 12661733, 26338, 480.0),
 ('West Bank', 2785366, 5860, 475.0),
 ('Nauru', 9540, 21, 454.0),
 ('Tuvalu', 10869, 26, 418.0),
 ('Netherlands', 16947904, 41543, 407.0),
 ('Marshall Islands', 72191, 181, 398.0),
 ('Israel', 8049314, 20770, 387.0),
 ('Burundi', 10742276, 27830, 385.0),
 ('India', 1251695584, 3287263, 380.0),
 ('Belgium', 11323973, 30528, 370.0),
 ('Haiti', 10110019, 27750, 364.0),
 ('Comoros', 780971, 2235, 349.0),
 ('Philippines', 100998376, 300000, 336.0),
 ('Sri Lanka', 22053488, 65610, 336.0),
 ('Japan', 126919659, 377915, 335.0),
 ('Curacao', 148406, 444, 334.0),
 ('Grenada', 110694, 344, 321.0),
 ('Guam', 161785, 544, 297.0),
 ('El Salvador', 6141350, 21041, 291.0),
 ('Vietnam', 94348835, 331210, 284.0),
 ('American Samoa', 54343, 199, 273.0),
 ('Jamaica', 2950210, 10991, 268.0),
 ('Saint Lucia', 163922, 616, 266.0),
 ('Saint Vincent and the Grenadines', 102627, 389, 263.0),
 ('United Kingdom', 64088222, 243610, 263.0),
 ('Puerto Rico', 3598357, 13791, 260.0),
 ('Pakistan', 199085847, 796095, 250.0),
 ('Trinidad and Tobago', 1222363, 5128, 238.0),
 ('Liechtenstein', 37624, 160, 235.0),
 ('Germany', 80854408, 357022, 226.0),
 ('British Virgin Islands', 33454, 151, 221.0),
 ('Luxembourg', 570252, 2586, 220.0),
 ('Dominican Republic', 10478756, 48670, 215.0),
 ('Nepal', 31551305, 147181, 214.0),
 ('Cayman Islands', 56092, 264, 212.0),
 ('Antigua and Barbuda', 92436, 442, 209.0),
 ('Korea, North', 24983205, 120538, 207.0),
 ('Italy', 61855120, 301340, 205.0),
 ('Seychelles', 92430, 455, 203.0),
 ('Sao Tome and Principe', 194006, 964, 201.0),
 ('Saint Kitts and Nevis', 51936, 261, 198.0),
 ('Nigeria', 181562056, 923768, 196.0),
 ('Switzerland', 8121830, 41277, 196.0),
 ('Qatar', 2194817, 11586, 189.0),
 ('Andorra', 85580, 468, 182.0),
 ('Anguilla', 16418, 91, 180.0),
 ('Gambia, The', 1967709, 11300, 174.0),
 ('Kosovo', 1870981, 10887, 171.0),
 ('Kuwait', 2788534, 17818, 156.0),
 ('Uganda', 37101745, 241038, 153.0),
 ('Isle of Man', 87545, 572, 153.0),
 ('Malawi', 17964697, 118484, 151.0),
 ('Micronesia, Federated States of', 105216, 702, 149.0),
 ('China', 1367485388, 9596960, 142.0),
 ('Tonga', 106501, 747, 142.0),
 ('Guatemala', 14918999, 108889, 137.0),
 ('Cabo Verde', 545993, 4033, 135.0),
 ('Czech Republic', 10644842, 78867, 134.0),
 ('Indonesia', 255993674, 1904569, 134.0),
 ('Thailand', 67976405, 513120, 132.0),
 ('Togo', 7552318, 56785, 132.0),
 ('Kiribati', 105711, 811, 130.0),
 ('Denmark', 5581503, 43094, 129.0),
 ('Cyprus', 1189197, 9251, 128.0),
 ('Akrotiri', 15700, 123, 127.0),
 ('Poland', 38562189, 312685, 123.0),
 ('Dhekelia', 15700, 130, 120.0),
 ('European Union', 513949445, 4324782, 118.0),
 ('Portugal', 10825309, 92090, 117.0),
 ('Azerbaijan', 9780780, 86600, 112.0),
 ('Northern Mariana Islands', 52344, 464, 112.0),
 ('Slovakia', 5445027, 49035, 111.0),
 ('Tokelau', 1337, 12, 111.0),
 ('Ghana', 26327649, 238533, 110.0),
 ('Wallis and Futuna', 15613, 142, 109.0),
 ('Hungary', 9897541, 93028, 106.0),
 ('Albania', 3029278, 28748, 105.0),
 ('Moldova', 3546847, 33851, 104.0),
 ('Austria', 8665550, 83871, 103.0),
 ('France', 66553766, 643801, 103.0),
 ('Armenia', 3056382, 29743, 102.0),
 ('Turkey', 79414269, 783562, 101.0),
 ('Cuba', 11031433, 110860, 99.0),
 ('Dominica', 73607, 751, 98.0),
 ('Slovenia', 1983412, 20273, 97.0),
 ('Spain', 48146134, 505370, 95.0),
 ('Costa Rica', 4814144, 51100, 94.0),
 ('Benin', 10448647, 112622, 92.0),
 ('Malaysia', 30513848, 329847, 92.0),
 ('Serbia', 7176794, 77474, 92.0),
 ('Syria', 17064854, 185180, 92.0),
 ('Ethiopia', 99465819, 1104300, 90.0),
 ('Jordan', 8117564, 89342, 90.0),
 ('Romania', 21666350, 238391, 90.0),
 ('Egypt', 88487396, 1001450, 88.0),
 ('Cambodia', 15708756, 181035, 86.0),
 ('Iraq', 37056169, 438317, 84.0),
 ('Burma', 56320206, 676578, 83.0),
 ('Swaziland', 1435613, 17364, 82.0),
 ('Timor-Leste', 1231116, 14874, 82.0),
 ('Greece', 10775643, 131957, 81.0),
 ('Macedonia', 2096015, 25713, 81.0),
 ('Sierra Leone', 5879098, 71740, 81.0),
 ('Kenya', 45925301, 580367, 79.0),
 ('Croatia', 4464844, 56594, 78.0),
 ('Honduras', 8746673, 112090, 78.0),
 ('Bosnia and Herzegovina', 3867055, 51197, 75.0),
 ('Brunei', 429646, 5765, 74.0),
 ('Morocco', 33322699, 446550, 74.0),
 ('Ukraine', 44429471, 603550, 73.0),
 ("Cote d'Ivoire", 23295302, 322463, 72.0),
 ('Senegal', 13975834, 196722, 71.0),
 ('Georgia', 4931226, 69700, 70.0),
 ('Burkina Faso', 18931686, 274200, 69.0),
 ('Ireland', 4892305, 70273, 69.0),
 ('Samoa', 197773, 2831, 69.0),
 ('United Arab Emirates', 5779760, 83600, 69.0),
 ('Tunisia', 11037225, 163610, 67.0),
 ('French Polynesia', 282703, 4167, 67.0),
 ('Uzbekistan', 29199942, 447400, 65.0),
 ('Bulgaria', 7186893, 110879, 64.0),
 ('Lesotho', 1947701, 30355, 64.0),
 ('Mexico', 121736809, 1964375, 61.0),
 ('Norfolk Island', 2210, 36, 61.0),
 ('Tajikistan', 8191958, 144100, 56.0),
 ('Ecuador', 15868396, 283561, 55.0),
 ('Eritrea', 6527689, 117600, 55.0),
 ('Virgin Islands', 103574, 1910, 54.0),
 ('Tanzania', 51045882, 947300, 53.0),
 ('Turks and Caicos Islands', 50280, 948, 53.0),
 ('Montserrat', 5241, 102, 51.0),
 ('Yemen', 26737317, 527968, 50.0),
 ('Afghanistan', 32564342, 652230, 49.0),
 ('Cameroon', 23739218, 475440, 49.0),
 ('Fiji', 909389, 18274, 49.0),
 ('Iran', 81824270, 1648195, 49.0),
 ('Panama', 3657024, 75420, 48.0),
 ('Guinea', 11780162, 245857, 47.0),
 ('Guinea-Bissau', 1726170, 36125, 47.0),
 ('Belarus', 9589689, 207600, 46.0),
 ('Montenegro', 647073, 13812, 46.0),
 ('Palau', 21265, 459, 46.0),
 ('Nicaragua', 5907881, 130370, 45.0),
 ('Lithuania', 2884433, 65300, 44.0),
 ('South Africa', 53675563, 1219090, 44.0),
 ('Cocos (Keeling) Islands', 596, 14, 42.0),
 ('Colombia', 46736728, 1138910, 41.0),
 ('Cook Islands', 9838, 236, 41.0),
 ('Madagascar', 23812681, 587041, 40.0),
 ('Liberia', 4195666, 111369, 37.0),
 ('Zimbabwe', 14229541, 390757, 36.0),
 ('Faroe Islands', 50196, 1393, 36.0),
 ('Djibouti', 828324, 23200, 35.0),
 ('Congo, Democratic Republic of the', 79375136, 2344858, 33.0),
 ('United States', 321368864, 9826675, 32.0),
 ('Venezuela', 29275460, 912050, 32.0),
 ('Mozambique', 25303113, 799380, 31.0),
 ('Latvia', 1986705, 64589, 30.0),
 ('Laos', 6911544, 236800, 29.0),
 ('Kyrgyzstan', 5664939, 199951, 28.0),
 ('Estonia', 1265420, 45228, 27.0),
 ('Equatorial Guinea', 740743, 28051, 26.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 308, 25.0),
 ('Bahamas, The', 324597, 13880, 23.0),
 ('Brazil', 204259812, 8515770, 23.0),
 ('Chile', 17508260, 756102, 23.0),
 ('Peru', 30444999, 1285216, 23.0),
 ('Saint Pierre and Miquelon', 5657, 242, 23.0),
 ('Vanuatu', 272264, 12189, 22.0),
 ('Solomon Islands', 622469, 28896, 21.0),
 ('Sweden', 9801616, 450295, 21.0),
 ('Zambia', 15066266, 752618, 20.0),
 ('Bhutan', 741919, 38394, 19.0),
 ('Sudan', 36108853, 1861484, 19.0),
 ('South Sudan', 12042910, 644329, 18.0),
 ('Uruguay', 3341893, 176215, 18.0),
 ('Algeria', 39542166, 2381741, 16.0),
 ('Finland', 5476922, 338145, 16.0),
 ('New Zealand', 4438393, 267710, 16.0),
 ('Norway', 5207689, 323802, 16.0),
 ('Paraguay', 6783272, 406752, 16.0),
 ('Somalia', 10616380, 637657, 16.0),
 ('Angola', 19625353, 1246700, 15.0),
 ('Argentina', 43431886, 2780400, 15.0),
 ('Belize', 347369, 22966, 15.0),
 ('Papua New Guinea', 6672429, 462840, 14.0),
 ('New Caledonia', 271615, 18575, 14.0),
 ('Congo, Republic of the', 4755097, 342000, 13.0),
 ('Mali', 16955536, 1240192, 13.0),
 ('Saudi Arabia', 27752316, 2149690, 12.0),
 ('Christmas Island', 1530, 135, 11.0),
 ('Oman', 3286936, 309500, 10.0),
 ('Turkmenistan', 5231422, 488100, 10.0),
 ('Bolivia', 10800882, 1098581, 9.0),
 ('Central African Republic', 5391539, 622984, 8.0),
 ('Russia', 142423773, 17098242, 8.0),
 ('Gabon', 1705336, 267667, 6.0),
 ('Kazakhstan', 18157122, 2724900, 6.0),
 ('Niue', 1190, 260, 4.0),
 ('Botswana', 2182719, 581730, 3.0),
 ('Canada', 35099836, 9984670, 3.0),
 ('Guyana', 735222, 214969, 3.0),
 ('Iceland', 331918, 103000, 3.0),
 ('Libya', 6411776, 1759540, 3.0),
 ('Mauritania', 3596702, 1030700, 3.0),
 ('Suriname', 579633, 163820, 3.0),
 ('Australia', 22751014, 7741220, 2.0),
 ('Namibia', 2212307, 824292, 2.0),
 ('Western Sahara', 570866, 266000, 2.0),
 ('Mongolia', 2992908, 1564116, 1.0),
 ('Pitcairn Islands', 48, 47, 1.0),
 ('Greenland', 57733, 2166086, 0.0),
 ('Svalbard', 1872, 62045, 0.0),
 ('Falkland Islands (Islas Malvinas)', 3361, 12173, 0.0),
 ('Chad', 11631456, None, None),
 ('Niger', 18045729, None, None),
 ('Holy See (Vatican City)', 842, 0, None),
 ('Ashmore and Cartier Islands', None, 5, None),
 ('Coral Sea Islands', None, 3, None),
 ('Heard Island and McDonald Islands', None, 412, None),
 ('Clipperton Island', None, 6, None),
 ('French Southern and Antarctic Lands', None, None, None),
 ('Saint Barthelemy', 7237, None, None),
 ('Bouvet Island', None, 49, None),
 ('Jan Mayen', None, 377, None),
 ('British Indian Ocean Territory', None, 54400, None),
 ('South Georgia and South Sandwich Islands', None, 3903, None),
 ('Navassa Island', None, 5, None),
 ('Wake Island', None, 6, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None),
 ('Antarctica', 0, None, None),
 ('Paracel Islands', None, 7, None),
 ('Spratly Islands', None, 5, None),
 ('Arctic Ocean', None, None, None),
 ('Atlantic Ocean', None, None, None),
 ('Indian Ocean', None, None, None),
 ('Pacific Ocean', None, None, None),
 ('Southern Ocean', None, None, None),
 ('World', 7256490011, None, None)]

Which countries have the highest population/area ratio, and how does it compare to list we found in the previous screen?
         - Macau have the highest population/area ratio	21168.0 km²
               
Which countries have a higher death rate than birth rate?
         - Ukraine have Death 14.46 and the birth rate	10.72
          
Which countries have the highest ratios of water to land?
          - British Indian Ocean Territory	0.998
         
Which countries have a higher death rate than birth rate?
         - British Indian Ocean Territory water	54340 km² and land 60 km²
         - Virgin Islands water	1564 km² and land 346 km²